
.dashboard-layout {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
  font-family: "Inter", sans-serif;
  width: 100vw;
}

.dashboard-sidebar {
  width: 240px;
  background: linear-gradient(180deg, #1e293b, #0f172a);
  color: white;
  padding: 20px;
  position: fixed;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.user-circle {
  width: 42px;
  height: 42px;
  background: #3b82f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-label {
  font-size: 16px;
  font-weight: 600;
}


.dashboard-menu {
  list-style: none;
  padding: 0;
}

.dashboard-menu li {
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.dashboard-menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dashboard-menu li.active {
  background: #2563eb;
}


.dashboard-main {
  margin-left: 240px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
}


.dashboard-topbar h2 {
  font-size: 18px;
  font-weight: 700;
  color: #0f172a;
}


.logout-btn {
  background: linear-gradient(135deg, #ef4444, #dc2626);
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
  width: 200px;
  margin-left: 1200px;
  margin-top: 30px;
}

.logout-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}


.dashboard-content {
  padding: 30px;
  overflow-y: auto;
}

.coming-soon {
  color: #64748b;
  margin-top: 40px;
  text-align: center;
}
